# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignores all except for the web directory
/*
!/servercraft

#Ignores config file
/servercraft/config/db.php
