ul.consoleOperator {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 25px; /*--Set height of tabs--*/
    border-bottom: 0px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}
ul.consoleOperator li {
    float: left;
    margin: 0;
    padding: 0;
    height: 24px; /*--Subtract 1px from the height of the unordered list--*/
    line-height: 20px; /*--Vertically aligns the text within the tab--*/
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px; /*--Pull the list item down 1px--*/
    overflow: hidden;
    position: relative;
    background: #e0e0e0;
}
ul.consoleOperator li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 15px;
    padding: 0 26px;
    border: 0px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
    outline: none;
}
ul.consoleOperator li a:hover {
    background: #ccc;
}
html ul.consoleOperator li.active, html ul.consoleOperator li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
    background: #fff;
    border-bottom: 1px solid #eee; /*--Makes the active tab look like it's connected with its content--*/
}